html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
	margin: 0em;
	font-family: "Optima", sans-serif;
	background-color: #fc6;
}

img {
	width: 100%;
}

h1, h2, h3 {
	font-family: "Futura", sans-serif;
}

h1 {
	font-size: 1.5em;
	padding: 0em 2.5em;
	text-align: center;
}

.masthead-logo {
	background-image: url("../images/logo.svg");
	background-size: 55px auto;
	padding-top: .5em;
	background-repeat: no-repeat;
	background-position: left 55%;
	margin: 1em;
}

h2 {
	text-align: center;
}

nav ol{
	margin: 0em;
	padding: 0em 1em;
	text-align: center;
	text-decoration: none;
}

nav li {
	list-style-type: none;
	float: left;
	width: 25%;
	margin: 0em 0em 1em 0em;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	color: black;
}

.billboard {
	position: relative;
}

.billboard-text {
	position: absolute;
	text-align: center;
	color: white;
	margin: auto;
	top: 24%;
	right: 5%;
	left: 5%;
}

.wonder {
	margin-bottom: 2em;
}

.wonder h3 {
	margin-top: 0em;
	text-align: center;
}

.wonder img {
	padding: 1em;
}

.learn-more {
	text-align: center;
	clear: both;
}

.learn-more a {
	border-radius: 1em;
	color: white;
	padding: 0.5em;
	background-color: #97793c;
}

dt {
	margin: 0em;
	padding: 0em 1em;
	font-weight: bold;
	float: left;
	clear: left;
}

dd {
	margin: 0em 0em 1em 0em;;
	padding: 0em 1em;
	float: left;
}

.tickets {
	text-align: center;
	margin-bottom: 3em;
}

.tickets p{
	text-align: center;
	margin: -1em 0em 1.25em 0em;
}

.tickets a {
	width: 50%;
	text-align: center;
	margin: 1.5em 0em;
	background-color: #97793c;
	border-radius: 1em;
	color: white;
	padding: 0.5em;
}

.atlantis {
	text-align: center;
	position: relative;
}

.atlantis img {
	position: relative;
}

.atl-text {
	position: absolute;
	color: white;
	bottom: 25%;
	width: 100%;
	text-align: center;
}


.atlantis a {
	width: 50%;
	text-align: center;
	margin: 1.5em 0em;
	background-color: #97793c;
	border-radius: 1em;
	color: white;
	padding: 0.5em;
}

.schedule {
	list-style-type: none;
	padding: 0em;
	margin-bottom: 2em;
}

.schedule h3 {
	margin-left: 1em;
	margin-bottom: 0.25em;
}

.schedule ul {
	padding: 0em;
	margin: 0em 0em 0em 2.5em;
}

footer {
	padding: 0.5em 1em 1em 1em;
	font-size: 0.75em;
	background-color: #B28F47;
}

footer address {
	color: blue;
}

footer a {
	color: blue;
}

@media only screen and (min-width: 37.5em) {

	.wonder {
		width: 50%;
		float: left;
	}

	 .day {
		width: 50%;
		float: left;
		padding: 0em 1em;
	}

	.tickets {
		margin: 0em 5% 2em 5%;
	}

}
