html {
  box-sizing: border-box;
 	background-color: #fc6;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
	margin: 0em;
	font-family: "Optima", sans-serif;
}

img {
	width: 100%;
}

h1, h2, h3 {
	font-family: "Futura", sans-serif;
}

h1 {
	font-size: 1.5em;
	padding: 0.5em 2em;
	text-align: center;
}

h2 {
	text-align: center;
}

nav ol{
	margin: 0em;
	padding: 0em 1em;
	text-align: center;
	text-decoration: none;
}

nav li {
	list-style-type: none;
	float: left;
	width: 25%;
	margin: 0em 0em 1em 0em;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	color: black;
}

.billboard {
	position: relative;
}

.billboard-text {
	position: absolute;
	text-align: center;
	color: white;
	margin: auto;
	top: 24%;
	right: 5%;
	left: 5%;
}

.wonder {
	margin-top: 1em;
}

.wonder h3 {
	margin-top: 0em;
	text-align: center;
}

.wonder img {
	width: 90%;
	margin: 1em 1em 0.5em 1em;
}

.learn-more {
	text-align: center;
	margin: 1em;
	clear: both;
}

.learn-more a {
	border-radius: 1em;
	color: white;
	margin: 1em;
	padding: 0.5em;
	background-color: #97793c;
}

.column-1 {
	float: left;
	width: 33.3333%;
}

.column-2 {
	float: left;
	width: 33.333%;
}

.column-3 {
	float: left;
	width: 33.33%;
}

dt {
	margin: 0em;
	padding: 0em 1em;
}

dd {
	margin: 0em 0em 1em 0em;;
	padding: 0em 1em;
}

.tickets p{
	text-align: center;
	margin-bottom: 0em;
}

.tickets a {
	width: 50%;
	text-align: center;
	float: left;
	margin: 1em 0em;
}

.atlantis img {
	position: relative;
}

.atlantis h3 {
	position: absolute;
	text-align: center;
	color: white;
	margin: auto;
	bottom: -340%;
}

.atlantis p {
	position: absolute;
	text-align: center;
	color: white;
	margin: auto;
}

.schedule {
	list-style-type: none;
	text-align: left;
	padding: 0em;
	margin-bottom: 2em;
}

.schedule h3 {
	margin-left: 1em;
	margin-bottom: 0.25em;
}

ol ul {
	padding: 0em;
	margin: 0em 0em 0em 2.5em;
}

footer {
	background-color: #B28F47;
}
